@import 'src/styles/fonts.scss';
@import 'src/styles/colors.scss';
@import 'src/styles/devices.scss';

tr, td {
  width: 60px;
  height: 60px;
  border:  3px solid  $dead-grey;
  color: $black;
  font-family: 'Sailec-Bold';
  font-weight: 900;
  font-size: 24px;
}
.site-table {
  text-align: center;
}

 

