@import 'src/styles/fonts.scss';
@import 'src/styles/colors.scss';
@import 'src/styles/devices.scss';

.solver-container {
  margin: 48px auto;
  width: 80%;
  .solver-content {
    h3 {
      text-align: center;
      font-weight: 600;
      font-size: 48px;
    }
    .form-container {
      text-align: center;
    } 
    .site-content {
      text-align: center;
      .site-table {
        td {
          width: 60px;
          height: 60px;
          border:  3px solid  $dead-grey;
          color: $black;
          text-align: center;
          font-family: 'Sailec-Bold';
          font-weight: 900;
          font-size: 24px;
        }
      }
      .btn-solve {
        margin: 32px 0;
      }
    }
  }
}
@include for-phone-only {
  .solver-container {
    .solver-content {
      width: 100%;
      margin: 0 0;
      padding: 0 0;
      .site-content {
        .site-table {
         

        }
      }
    }
  }
}