$cream: #feffe9;
// black & white
$white: #fff;

//states
$success: #0bd564;
$warning: #fc0;
$error: #f20168;

// shades of gray
$dark-grey-blue: #2a3c50;
$bluish-grey: #778f9b;
$grey: #828282;
$silver: #b8c1cb;
$pale-grey: #dde2e8;
$dead-grey: #f8f8f8;

$orange: #f58c00;
$orangey: #FF8C00;
// white type
$bluish-white: #f7feff;

$very-dark-blue: #152230;
$graying-orange: #96928d;
$light-gray: #d1d1d1;
$pure-yellow: #FFD700;
$grayish-orange: #ccc7c5;
