$cream: #feffe9;
// black & white
$white: #fff;
$black: #152230;

//states
$success: #0bd564;
$warning: #fc0;
$error: #f20168;

// shades of gray
$dark-grey-blue: #2a3c50;
$bluish-grey: #778f9b;
$grey: #828282;
$silver: #b8c1cb;
$pale-grey: #dde2e8;
$dead-grey: #f8f8f8;

$orange: #f58c00;
$orangey: #FF8C00;
// white type
$bluish-white: #f7feff;
